<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assign Task</title>
    <%- include("__bootStrap.ejs") %>
    <style>
      body {
        background-color: #f8f9fa;
      }
      .task-form {
        max-width: 1000px;
        margin: 50px auto;
        background: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      }
      .form-control {
        border-radius: 6px;
        padding: 10px;
      }
      .btn-success {
        width: 100%;
        font-size: 18px;
        padding: 10px;
        border-radius: 6px;
      }
    </style>
  </head>
  <body>
    <%- include("nav.ejs")%>

    <div class="task-form">
      <h3 class="text-center mb-4 fw-bold">Assign a Task</h3>
      <form action="/task/create" method="post">
        <!-- Task Title -->
        <div class="form-group mb-3">
          <label class="fw-bold">Task Title</label>
          <input name="task" class="form-control" type="text" placeholder="Enter task title" required />
        </div>

        <!-- Task Description -->
        <div class="form-group mb-3">
          <label class="fw-bold">Task Description</label>
          <textarea name="description" placeholder="Type here..." class="form-control" rows="4" required></textarea>
        </div>

        <!-- Task Priority -->
        <div class="form-group mb-3">
          <label class="fw-bold">Task Priority</label>
          <select class="form-control" name="priorityId" required>
            <option disabled selected>Select task priority</option>
            <% for(let taskPriority of taskPriorities) { %>
              <option value="<%=taskPriority.id%>"><%=taskPriority.priority%></option>
            <% } %>    
          </select>
        </div>

        <!--  Role -->
          <div class="mb-3">
            <label class="fw-bold">Select Domain</label>
            <select name="role" class="form-control " name="role" required >
              <option disabled selected>Select domain</option>
              <%for(let domain of getDomain){%>
              <option value="<%= domain.roleId %>"><%= domain.role%></option>
              <%}%>
            </select>
          </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-success">Next</button>
      </form>
    </div>
  </body>
</html>
